node_modules/
dist/
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log

tests/**/coverage/
tests/e2e/reports
selenium-debug.log
/public/*
# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.local

package-lock.json
pnpm-lock.yaml
yarn.lock

src/resources/config/local-*.yml

sequelize-auto-models

.pm2/

# 环境配置文件
.env
.env.local
.env.*.local
.env.development
.env.production

private_key.pem
public_key.pem

